.leapday-goods-icon {
  float:left;
  /*display: inline-block;*/
  background-image: url('leapday-goods-icon-ffffff.png');
  background-repeat: no-repeat;
  /*height: 54px;
  width: 45px;*/
  height: 58px;
  width: 47px;
  vertical-align: bottom;
}

.leapday-goods-icon-placeholder {
	background-image: none;
}

.leapday-goods-icon-preload {
	background-position: -9999px -9999px;
	background-repeat: no-repeat;
}

.table-striped tbody > tr:nth-child(odd) > td .leapday-goods-icon,
.table-striped tbody > tr:nth-child(odd) > th .leapday-goods-icon {
    background-image: url('leapday-goods-icon-f9f9f9.png');
}

.table-hover tbody > tr:hover > td .leapday-goods-icon,
.leapday-goods-icon-hover {
	background-image: url('leapday-goods-icon-ffffcc.png');
}

.leapday-goods-icon-goodtype_other {
  background-position: -0px -0px;
}

.leapday-goods-icon-good_water {
  background-position: -47px -0px;
}

.leapday-goods-icon-good_food {
  background-position: -94px -0px;
}

.leapday-goods-icon-good_junk {
  background-position: -141px -0px;
}

.leapday-goods-icon-good_wood {
  background-position: -188px -0px;
}

.leapday-goods-icon-good_barrel {
  background-position: -235px -0px;
}

.leapday-goods-icon-good_stone {
  background-position: -282px -0px;
}

.leapday-goods-icon-good_spirits {
  background-position: -329px -0px;
}

.leapday-goods-icon-good_bread {
  background-position: -376px -0px;
}

.leapday-goods-icon-good_lumber {
  background-position: -423px -0px;
}

.leapday-goods-icon-good_gems {
  background-position: -470px -0px;
}

.leapday-goods-icon-good_perfume {
  background-position: -517px -0px;
}

.leapday-goods-icon-good_jade {
  background-position: -564px -0px;
}

.leapday-goods-icon-good_onyx {
  background-position: -0px -58px;
}

.leapday-goods-icon-good_diamond, .leapday-goods-icon-goodtype_crystal {
  background-position: -47px -58px;
}

.leapday-goods-icon-good_opal {
  background-position: -94px -58px;
}

.leapday-goods-icon-good_amber {
  background-position: -141px -58px;
}

.leapday-goods-icon-good_silver {
  background-position: -188px -58px;
}

.leapday-goods-icon-good_amethyst {
  background-position: -235px -58px;
}

.leapday-goods-icon-good_spices {
  background-position: -282px -58px;
}

.leapday-goods-icon-good_oak {
  background-position: -329px -58px;
}

.leapday-goods-icon-good_largebarrel {
  background-position: -376px -58px;
}

.leapday-goods-icon-good_sapphire {
  background-position: -423px -58px;
}

.leapday-goods-icon-good_ore {
  background-position: -470px -58px;
}

.leapday-goods-icon-good_bricks {
  background-position: -517px -58px;
}

.leapday-goods-icon-good_whiskey {
  background-position: -564px -58px;
}

.leapday-goods-icon-good_stew {
  background-position: -0px -116px;
}

.leapday-goods-icon-good_ruby {
  background-position: -47px -116px;
}

.leapday-goods-icon-good_flour {
  background-position: -94px -116px;
}

.leapday-goods-icon-good_chair {
  background-position: -141px -116px;
}

.leapday-goods-icon-good_jewelrybox {
  background-position: -188px -116px;
}

.leapday-goods-icon-good_shrines {
  background-position: -235px -116px;
}

.leapday-goods-icon-good_beer {
  background-position: -282px -116px;
}

.leapday-goods-icon-good_glass {
  background-position: -329px -116px;
}

.leapday-goods-icon-good_cookedfood {
  background-position: -376px -116px;
}

.leapday-goods-icon-good_blackbread {
  background-position: -423px -116px;
}

.leapday-goods-icon-good_potionofjoy {
  background-position: -470px -116px;
}

.leapday-goods-icon-good_mulledwine {
  background-position: -517px -116px;
}

.leapday-goods-icon-good_fruitcake {
  background-position: -564px -116px;
}

.leapday-goods-icon-good_idols {
  background-position: -0px -174px;
}

.leapday-goods-icon-good_cinnamonrolls {
  background-position: -47px -174px;
}

.leapday-goods-icon-good_gunpowder {
  background-position: -94px -174px;
}

.leapday-goods-icon-good_mana {
  background-position: -141px -174px;
}

.leapday-goods-icon-good_stoutbarrel {
  background-position: -188px -174px;
}

.leapday-goods-icon-good_desk {
  background-position: -235px -174px;
}

.leapday-goods-icon-good_potionoflife {
  background-position: -282px -174px;
}

.leapday-goods-icon-good_rings {
  background-position: -329px -174px;
}

.leapday-goods-icon-good_incense {
  background-position: -376px -174px;
}

.leapday-goods-icon-good_grog {
  background-position: -423px -174px;
}

.leapday-goods-icon-good_jewelry {
  background-position: -470px -174px;
}

.leapday-goods-icon-good_potionofdeath {
  background-position: -517px -174px;
}

.leapday-goods-icon-good_catstatue {
  background-position: -564px -174px;
}

.leapday-goods-icon-good_chowder {
  background-position: -0px -232px;
}

.leapday-goods-icon-good_blackoak {
  background-position: -47px -232px;
}

.leapday-goods-icon-good_icebarrel {
  background-position: -94px -232px;
}

.leapday-goods-icon-good_glue {
  background-position: -141px -232px;
}

.leapday-goods-icon-good_rockhammers {
  background-position: -188px -232px;
}

.leapday-goods-icon-good_curry {
  background-position: -235px -232px;
}

.leapday-goods-icon-good_chili {
  background-position: -282px -232px;
}

.leapday-goods-icon-good_metalingot {
  background-position: -329px -232px;
}

.leapday-goods-icon-good_Firebread {
  background-position: -376px -232px;
}

.leapday-goods-icon-good_stewbarrel {
  background-position: -423px -232px;
}

.leapday-goods-icon-good_finebrandy {
  background-position: -470px -232px;
}

.leapday-goods-icon-good_firedbricks {
  background-position: -517px -232px;
}

.leapday-goods-icon-good_FineFlour {
  background-position: -564px -232px;
}

.leapday-goods-icon-good_windows {
  background-position: -0px -290px;
}

.leapday-goods-icon-good_lembascakes {
  background-position: -47px -290px;
}

.leapday-goods-icon-good_spyglass {
  background-position: -94px -290px;
}

.leapday-goods-icon-good_luxuryfood {
  background-position: -141px -290px;
}

.leapday-goods-icon-good_haircream {
  background-position: -188px -290px;
}

.leapday-goods-icon-good_sweetwine {
  background-position: -235px -290px;
}

.leapday-goods-icon-good_crockpot {
  background-position: -282px -290px;
}

.leapday-goods-icon-good_rowboat {
  background-position: -329px -290px;
}

.leapday-goods-icon-good_ironrations {
  background-position: -376px -290px;
}

.leapday-goods-icon-good_poisonring {
  background-position: -423px -290px;
}

.leapday-goods-icon-good_firering {
  background-position: -470px -290px;
}

.leapday-goods-icon-good_blackwhiskey {
  background-position: -517px -290px;
}

.leapday-goods-icon-good_necklace {
  background-position: -564px -290px;
}

.leapday-goods-icon-good_stonering {
  background-position: -0px -348px;
}

.leapday-goods-icon-good_heartymeals {
  background-position: -47px -348px;
}

.leapday-goods-icon-good_sweetbread {
  background-position: -94px -348px;
}

.leapday-goods-icon-good_float {
  background-position: -141px -348px;
}

.leapday-goods-icon-good_prayerstones {
  background-position: -188px -348px;
}

.leapday-goods-icon-good_birthdaycake {
  background-position: -235px -348px;
}

.leapday-goods-icon-good_magicbuns {
  background-position: -282px -348px;
}

.leapday-goods-icon-good_deathpowder {
  background-position: -329px -348px;
}

.leapday-goods-icon-good_mahnamahna {
  background-position: -376px -348px;
}

.leapday-goods-icon-good_flatbread {
  background-position: -423px -348px;
}

.leapday-goods-icon-good_earrings {
  background-position: -470px -348px;
}

.leapday-goods-icon-good_wineofjoy {
  background-position: -517px -348px;
}

.leapday-goods-icon-good_poisonnecklace {
  background-position: -564px -348px;
}

.leapday-goods-icon-good_firenecklace {
  background-position: -0px -406px;
}

.leapday-goods-icon-good_ice {
  background-position: -47px -406px;
}

.leapday-goods-icon-good_blacklumber {
  background-position: -94px -406px;
}

.leapday-goods-icon-good_shields {
  background-position: -141px -406px;
}

.leapday-goods-icon-good_stonenecklace {
  background-position: -188px -406px;
}

.leapday-goods-icon-good_potionofundeath {
  background-position: -235px -406px;
}

.leapday-goods-icon-good_hairelixir {
  background-position: -282px -406px;
}

.leapday-goods-icon-good_wineofdeath {
  background-position: -329px -406px;
}

.leapday-goods-icon-good_gunship {
  background-position: -376px -406px;
}

.leapday-goods-icon-good_pottery {
  background-position: -423px -406px;
}

.leapday-goods-icon-good_hammers {
  background-position: -470px -406px;
}

.leapday-goods-icon-good_stickybuns {
  background-position: -517px -406px;
}

.leapday-goods-icon-good_dullsceptre {
  background-position: -564px -406px;
}

.leapday-goods-icon-good_absinthe {
  background-position: -0px -464px;
}

.leapday-goods-icon-good_spiritshield {
  background-position: -47px -464px;
}

.leapday-goods-icon-good_stealthshield {
  background-position: -94px -464px;
}

.leapday-goods-icon-good_crystalshield {
  background-position: -141px -464px;
}

.leapday-goods-icon-good_sundial {
  background-position: -188px -464px;
}

.leapday-goods-icon-good_breadpudding {
  background-position: -235px -464px;
}

.leapday-goods-icon-good_dullamulet {
  background-position: -282px -464px;
}

.leapday-goods-icon-good_dullcrown {
  background-position: -329px -464px;
}

.leapday-goods-icon-good_manaorb {
  background-position: -376px -464px;
}

.leapday-goods-icon-good_bracelet {
  background-position: -423px -464px;
}

.leapday-goods-icon-good_swords {
  background-position: -470px -464px;
}

.leapday-goods-icon-good_finelumber {
  background-position: -517px -464px;
}

.leapday-goods-icon-good_icebust {
  background-position: -564px -464px;
}

.leapday-goods-icon-good_porcelain {
  background-position: -0px -522px;
}

.leapday-goods-icon-good_glowingsceptre {
  background-position: -47px -522px;
}

.leapday-goods-icon-good_glowingshield {
  background-position: -94px -522px;
}

.leapday-goods-icon-good_glowingamulet {
  background-position: -141px -522px;
}

.leapday-goods-icon-good_sceptre {
  background-position: -188px -522px;
}

.leapday-goods-icon-good_shadowcrown {
  background-position: -235px -522px;
}

.leapday-goods-icon-good_shadowamulet {
  background-position: -282px -522px;
}

.leapday-goods-icon-good_shadowsceptre {
  background-position: -329px -522px;
}

.leapday-goods-icon-good_glowingcrown {
  background-position: -376px -522px;
}

.leapday-goods-icon-good_hammeroftime {
  background-position: -423px -522px;
}

.leapday-goods-icon-good_dullearrings {
  background-position: -470px -522px;
}

.leapday-goods-icon-good_chocolatebust {
  background-position: -517px -522px;
}

.leapday-goods-icon-good_amulet {
  background-position: -564px -522px;
}

.leapday-goods-icon-good_pinkflamingo {
  background-position: -0px -580px;
}

.leapday-goods-icon-good_bangle {
  background-position: -47px -580px;
}

.leapday-goods-icon-good_icestatue {
  background-position: -94px -580px;
}

.leapday-goods-icon-good_woodbust {
  background-position: -141px -580px;
}

.leapday-goods-icon-good_crowns {
  background-position: -188px -580px;
}

.leapday-goods-icon-good_sparkypants {
  background-position: -235px -580px;
}

.leapday-goods-icon-good_porcelainbust {
  background-position: -282px -580px;
}

.leapday-goods-icon-good_dullarmor {
  background-position: -329px -580px;
}

.leapday-goods-icon-good_glowingearrings {
  background-position: -376px -580px;
}

.leapday-goods-icon-good_shadowearrings {
  background-position: -423px -580px;
}

.leapday-goods-icon-good_chocolatestatue {
  background-position: -470px -580px;
}

.leapday-goods-icon-good_glowingstatue {
  background-position: -517px -580px;
}

.leapday-goods-icon-good_armparty {
  background-position: -564px -580px;
}

.leapday-goods-icon-good_glowingarmor {
  background-position: -0px -638px;
}

.leapday-goods-icon-good_shadowarmor {
  background-position: -47px -638px;
}

.leapday-goods-icon-good_woodstatue {
  background-position: -94px -638px;
}

.leapday-goods-icon-good_porcelainstatue {
  background-position: -141px -638px;
}

.leapday-goods-icon-good_writofseduction {
  background-position: -188px -638px;
}

.leapday-goods-icon-good_crownedstatue {
  background-position: -235px -638px;
}

.leapday-goods-icon-good_blackheart {
  background-position: -282px -638px;
}
